asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
daphne
twisted[http2,tls]
psycopg[binary]
pytz
sqlparse
python-dotenv
requests

# 2FA
django-otp
qrcode
pillow

# Django channels for WebSocket
channels
channels-redis==4.2.0

# Web3
web3==5.31.4
