asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
daphne
twisted[http2,tls]
psycopg[binary]
pytz
sqlparse
python-dotenv

#Django channels for WebSocket
channels
channels-redis
