.menu-container {
    margin: 2em;
}

/* .game-container {
} */

.gameplay-container {
    width: 100%;
    max-width: 800px; /* Match the canvas width */
    margin: 0 auto; /* Center the container */
    overflow: hidden; /* Prevent content overflow */
  }
  
.game-canvas {
    display: block;
    width: 100%;
    max-width: 800px; /* Match the canvas width */
}

.gameplay-container {
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}

.game-canvas {
margin: 0;
padding: 0;
}

p {
margin: 0;
padding: 0;
}