.profile-body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  background-color: #26292d;
  text-align: center;
  padding: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em; /* Ajusta el espacio entre avatar y los datos */
}

.profile-info {
  display: flex;
  flex-direction: row; /* Pone los elementos en fila (avatar + detalles) */
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.avatar {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #007bff; /* Color de fondo del avatar */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile-details h1 {
  margin-bottom: 10px;
}

.profile-details p {
  margin: 5px 0;
}


/* Modal */
.modal-header {
  background-color: #26292d;
}

.modal-body {
  background-color: #26292d;
}


/* Botón */
button {
  background-color: #0062cc;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

.stats-container {
  display: grid;
  margin: 0 auto;
  gap: 3em;
  margin-top: 3em;
}

.stat-wrapper {
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  background-color:#343538;
  padding: 1em;
  border-radius: 10px;
}

@media (min-width: 400px) {
  .stats-container { grid-template-columns: repeat(1, 1fr); }
  } 

@media (min-width: 600px) {
  .stats-container { grid-template-columns: repeat(2, 1fr); }
  } 

@media (min-width: 900px) {
  .stats-container { grid-template-columns: repeat(3, 1fr); }
  }

@media (min-width: 1200px) {
  .stats-container { grid-template-columns: repeat(4, 1fr); }
  }

@media (max-width: 768px) {
  /* Para pantallas más pequeñas */
  .profile-info {
    flex-direction: column; /* Cambiar a columna cuando el ancho de la pantalla sea pequeño */
    align-items: center;
  }
}