.login-container {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 100vh;
    gap: 2em;
}
.header {
    color: #fff;
}

.login-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.login-form-container {
    width: 100%;
    max-width: 400px;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color:#343538;
}

.login-register-container {
    color: #fff;
    display:flex;
    padding-top: 1.3em;
    align-items: center;
    justify-content: space-between;
}

.register-form-container {
    width: 100%;
    max-width: 600px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color:#343538;
}

.register-register-container {
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.text-label {
    color: #fff;
}

.text-muted-email {
    color: rgba(255,255,255,0.7);
    padding-top: 0.3em;
    font-size: small;
}